body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#gameContainer {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  max-width: 520px;
  width: 100%;
  text-align: center;
  cursor: none;
}

#score, #missed, #record, #timer {
  font-size: 1.2em;
  margin: 10px 0;
  font-weight: 700;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 80px);
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.cell {
  width: 80px;
  height: 80px;
  background: #f0f0f0;
  border-radius: 12px;
  box-shadow: inset 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.cell:hover {
  transform: scale(1.05);
  box-shadow: inset 0 4px 10px rgba(0,0,0,0.2);
}

.cell img {
  width: 60px;
  height: 60px;
  display: block;
  transition: transform 0.3s;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 12px 24px;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: #fff;
  cursor: none;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: background 0.3s, transform 0.2s;
}

/* button:hover {
  background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
  transform: scale(1.05);
} */

/* Блокировка поля */
.blocked {
  pointer-events: none;
  opacity: 0.6;
}

/* Таймер */
#timer {
  font-size: 1.4em;
  margin-top: 10px;
}

.custom-cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  pointer-events: none; /* Курсор не блокирует клики */
  z-index: 9999;
  background-image: url('../assets/hammer-idle.png');
  background-size: contain;
 transform: translate(-50%, -50%);  /* Центрируем по курсору */
  transition: transform 0.1s ease-out;
}

.custom-cursor.hit {
  transform: translate(-50%, -50%) rotate(50deg) translateY(5px);
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

button:hover ~ .custom-cursor {
  display: none;
}

/* Скрыто по умолчанию */
.modal-hidden {
  display: none !important;
}

/* Окно модального окна */
#modalMessage {
  position: fixed;
  display: flex;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* содержимое окна */
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 80%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  text-align: center;
}